.CarouselimgSize{
    height: 400px;
}
/**************************************************************************************/
/***************************   FEUILLE DE STYLE V0.1   ********************************/
/**************************************************************************************/

/***************************   IMPORTATION DES FONTS  *********************************/

/* attendre le 12/01/2021 avant ajout de fonts */




/*******************************   STYLE GLOBAL  **************************************/

a
{
    
}

ul
{

}

li
{

}

p
{

}

/**************************************************************************************/
/*****************************   STYLE PAR SECTION  ***********************************/
/**************************************************************************************/
/*********************************   STYLE NAV  ***************************************/



/********************************   STYLE BANNER  *************************************/



/*******************************   STYLE HORAIRE  *************************************/

.SectionSchedule{
    background-color: #007DAE;
}

.SectionScheduleTable{
    color: #E7DDB6;
}


/****************************   STYLE CARTE DU JOUR  **********************************/



/*****************************   STYLE INFORMATION  ***********************************/



/********************************   STYLE FOOTER  *************************************/

.SectionFooter
{
    background-color: #1C2431 !important;
}

.SectionFooterH5
{
    text-transform: uppercase;
    color : #D2CBA6;
}

.SectionFooterCol ul li a
{
    color: white !important;
}

.SectionFooterSocialPart
{
    background-color: #D2CBA6;
}

.SectionFooterCredit
{
    background-color: #151B27;
}

.SectionFooterP
{
    display: inline;
    color: white;
}